.main {
  width: 100%;
  height: max-content;
}

.block_one {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
  }

  .body {
    width: 100%;
    padding: 0px 1vw;
    box-sizing: border-box;
  
    .sentence {
      width: 100%;
      font-size: 18px;
      margin-top: 24px;
      font-weight: 600;
      text-align: center;
    }
  }

  .footer {
    width: 100%;
    padding: 24px 1vw;
    box-sizing: border-box;
    background-color: #fff;
  }
}